<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Index</title>
</head>
<body>
    <h1>Pokemon Index Page</h1>

    <ul>
        <% for(i=0; i<pokemons.length; i++) { %> 
            <li>
                <h3><%= pokemons[i].name %></h3><br>
                <a href="/pokemon/<%=i%> "><img src="<%= pokemons[i].img %>" alt="pokemon image"></a>
                <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/pokemon/<%=i%>/edit">Edit</a><br><br><br>
            </li>
        <% } %> 
    </ul>
    <a href="/pokemon/new">Create a New Pokemon</a>

</body>
</html>


<style>
    body {
        text-align: center;
    }

    li {
        list-style-type: none;
    }
  </style>