<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show page</title>
</head>
<body>
    <h1><%= pokemon.name %> </h1>
    <img src="<%= pokemon.img %> " alt="pokemon image">
    <ul>
        <li>Types:</li>
        <ul> <% for (let i=0; i<pokemon.type.length; i++) { %> 
            <li>
            <%= pokemon.type[i] %> 
            </li>
            <% } %> 
        </ul>
        <li>Stats:</li>
        <ul> 
            <li>HP: <%= pokemon.stats.hp %></li>
            <li>Attack: <%= pokemon.stats.attack %></li>
            <li>Defense: <%= pokemon.stats.defense %></li>
        </ul>
    </ul>
</body>
</html>